.landingpage {
    background-size: cover;
    background-position: center;
    padding: 10px 15px;
    background-image: url('https://images.unsplash.com/photo-1579113800032-c38bd7635818?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80');
    margin-top: 5.5rem;    
}


.home-content {
    padding: 14rem 0rem !important;
    color: rgb(255, 255, 255);
    text-align: left;
    position: relative;
}

.banner {
    padding-left: 4rem;
    font-size: 2.8rem;
    font-weight: 600;
}


@media only screen and (max-width: 600px) {
    .ladingpage {
        box-sizing: border-box;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        padding: 5px 0px;
        margin: 0 auto;
    }
    
    .landingtxt {
        padding: 3rem;
        font-size: 70px;
        width: 600px;
        margin-bottom: 0;
        margin-top: 1rem;
    }
    
    .ladingtxt {
        width: 500px;
        font-size: 15px;
        text-align: justify;
        margin-left: 2rem;
        margin-top: 0;
    }
    
    .home-content {
    padding: 14rem 1.5rem !important;
    color: rgb(255, 255, 255);
    text-align: left;
    position: relative;
    font-size: 2rem;
    }
    
    .heading {
    font-size: 30px !important;
    font-weight: 500;
    }
    
    .heading-name {
        font-size: 15px !important;
        
    }

    .headingbtn {
        width: 40%;
    }
    
  }
  