.login {
height: calc(100vh - 50px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1550989460-0adf9ea622e2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;
}

.loginTitle {
font-size: 50px;
}

.loginForm {
margin-top: 20px;
display: flex;
flex-direction: column;
}

.loginForm > label {
margin: 10px 0;
}

.loginInput {
padding: 10px;
background-color: white;
border: none;
border-radius: 10px;
}

.loginInput:focus {
outline: none;
}

.loginButton {
margin-top: 20px;
cursor: pointer;
background-color: lightcoral;
color: white;
padding: 10px;
border: none;
border-radius: 10px;
text-align: center;
}

.loginRegisterButton {
cursor: pointer;
padding: 10px;
border: none;
color: rgb(0, 0, 0);
}

  
@media (max-width: 768px) {
.loginTitle {
    font-size: 36px;
}

.loginForm > label {
    margin: 8px 0;
}

.loginInput {
    padding: 8px; 
}

.loginButton,
.loginRegisterButton {
    padding: 8px;
    
}
  }