<div class="login">
    <span class="loginTitle">Login</span>
    <div *ngIf="message">{{ message }}</div>
    <div *ngIf="loginError" style="color: red;">{{ loginError }}</div>
    <form class="loginForm" (submit)="handleSubmit($event)">
      <label>Email</label>
      <input class="loginInput" type="text" placeholder="Enter your email..." [(ngModel)]="email" name="email" required />
  
      <label>Password</label>
      <input class="loginInput" type="password" placeholder="Enter your password..." [(ngModel)]="password" name="password" required />
  
      <button class="loginButton" type="submit">Login</button>

      <p class="loginRegisterButton"> Dont have an account? <a routerLink="/signup">Signup</a></p>
    </form>  
</div>
  